@model ProjektNET.Models.WorkoutClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkoutClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
    </dl>
</div>

<h4>Users Attending:</h4>
<ul>
    @foreach (var userWorkoutClass in Model.UserWorkoutClasses)
    {
        <li>@userWorkoutClass.User.FirstName @userWorkoutClass.User.Surname</li>
    }
</ul>

<h4>Trainers Leading:</h4>
<ul>
    @foreach (var trainerWorkoutClass in Model.TrainerWorkoutClasses)
    {
        <li>@trainerWorkoutClass.Trainer.FirstName @trainerWorkoutClass.Trainer.Surname</li>
    }
</ul>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
